.p-Home.Div7 {
;
}
.p-Home.Flex5 {
display: flex;
justify-content: space-between;
align-items: center;
flex-direction: row;
}
.p-Home.Flex6 {
display: flex;
}
.p-Home.Flex18 {
display: flex;
}
.p-Home.Flex16 {
display: flex;
}
.p-Home.Div9 {
;
}
.p-Home.Flex19 {
display: flex;
}
.p-Home.Flex22 {
display: flex;
}
.p-Home.Div11 {
;
}
.p-Home.Flex23 {
display: flex;
justify-content: center;
}
.p-Home.Div12 {
;
}
.p-Home.Flex26 {
display: flex;
margin-left: 50px;
margin-right: 50px;
justify-content: center;
align-content: stretch;
}
.p-Home.Flex28 {
display: flex;
}
.p-Home.Flex27 {
display: flex;
margin-left: ;
border-color: #292929ff;
border-width: ;
border-radius: 0px;
outline-style: solid;
outline-width: 0px;
outline-color: #676767;
border-style: none;
border-left-width: 0.1px;
border-left-color: #86868680;
border-top-width: 0.1px;
border-top-color: #00000080;
border-bottom-width: 0.1px;
border-bottom-color: #00000080;
border-left-style: solid;
border-top-style: solid;
border-bottom-style: solid;
margin-bottom: 50px;
justify-content: center;
}
.p-Home.Div13 {
align-self: center;
padding-left: ;
margin-left: 25px;
margin-right: 25px;
}
.p-Home.Div17 {
align-self: center;
border-right-width: 0.1px;
border-right-style: solid;
border-right-color: #00000080;
}
.p-Home.Div29 {
;
}
.p-Home.Flex35 {
display: flex;
justify-content: center;
}
.p-Home.Div31 {
;
}
.p-Home.Div33 {
;
}
.p-Home.Flex36 {
display: flex;
margin-left: ;
border-color: #292929ff;
border-width: ;
border-radius: 0px;
outline-style: solid;
outline-width: 0px;
outline-color: #676767;
border-style: none;
border-left-width: 0.1px;
border-left-color: #86868680;
border-top-width: 0.1px;
border-top-color: #00000080;
border-bottom-width: 0.1px;
border-bottom-color: #00000080;
border-left-style: none;
border-top-style: none;
border-bottom-style: none;
margin-bottom: 50px;
justify-content: center;
}
.p-Home.Div34 {
align-self: center;
padding-left: ;
margin-left: 25px;
margin-right: 25px;
}
.p-Home.Div35 {
align-self: center;
border-right-width: 0.1px;
border-right-style: solid;
border-right-color: #00000080;
}
.p-Home.Div46 {
;
}
.p-Home.Flex40 {
display: flex;
margin-left: 50px;
margin-right: 50px;
justify-content: center;
align-content: stretch;
}
.p-Home.Flex39 {
display: flex;
}
.p-Home.Flex37 {
display: flex;
margin-left: ;
border-color: #292929ff;
border-width: ;
border-radius: 0px;
outline-style: solid;
outline-width: 0px;
outline-color: #676767;
border-style: none;
border-left-width: 0.1px;
border-left-color: #86868680;
border-top-width: 0.1px;
border-top-color: #00000080;
border-bottom-width: 0.1px;
border-bottom-color: #00000080;
border-left-style: solid;
border-top-style: solid;
border-bottom-style: solid;
margin-bottom: 50px;
justify-content: center;
}
.p-Home.Div41 {
align-self: center;
border-right-width: 0.1px;
border-right-style: solid;
border-right-color: #00000080;
}
.p-Home.Div42 {
align-self: center;
padding-left: ;
margin-left: 25px;
margin-right: 25px;
}
.p-Home.Div52 {
;
}
.p-Home.Flex44 {
display: flex;
margin-left: 50px;
margin-right: 50px;
justify-content: center;
align-content: stretch;
}
.p-Home.Flex42 {
display: flex;
}
.p-Home.Flex41 {
display: flex;
margin-left: ;
border-color: #292929ff;
border-width: ;
border-radius: 0px;
outline-style: solid;
outline-width: 0px;
outline-color: #676767;
border-style: none;
border-left-width: 0.1px;
border-left-color: #86868680;
border-top-width: 0.1px;
border-top-color: #00000080;
border-bottom-width: 0.1px;
border-bottom-color: #00000080;
border-left-style: solid;
border-top-style: solid;
border-bottom-style: solid;
margin-bottom: 50px;
justify-content: center;
}
.p-Home.Div47 {
align-self: center;
padding-left: ;
margin-left: 25px;
margin-right: 25px;
}
.p-Home.Div48 {
align-self: center;
border-right-width: 0.1px;
border-right-style: solid;
border-right-color: #00000080;
}
.p-Home.Div56 {
;
}
.p-Home.Flex47 {
display: flex;
margin-left: 50px;
margin-right: 50px;
justify-content: center;
align-content: stretch;
}
.p-Home.Flex46 {
display: flex;
}
.p-Home.Flex45 {
display: flex;
margin-left: ;
border-color: #292929ff;
border-width: ;
border-radius: 0px;
outline-style: solid;
outline-width: 0px;
outline-color: #676767;
border-style: none;
border-left-width: 0.1px;
border-left-color: #86868680;
border-top-width: 0.1px;
border-top-color: #00000080;
border-bottom-width: 0.1px;
border-bottom-color: #00000080;
border-left-style: solid;
border-top-style: solid;
border-bottom-style: solid;
margin-bottom: 50px;
justify-content: center;
}
.p-Home.Div53 {
align-self: center;
border-right-width: 0.1px;
border-right-style: solid;
border-right-color: #00000080;
}
.p-Home.Div54 {
align-self: center;
padding-left: ;
margin-left: 25px;
margin-right: 25px;
}
.p-Home.Div57 {
;
}
.p-Home.Div62 {
;
}
.p-Home.Div72 {
;
}
.p-Home.Div74 {
;
}
.p-Home.Flex69 {
display: flex;
margin-left: 50px;
margin-right: 50px;
justify-content: space-between;
margin-top: 100px;
margin-bottom: 50px;
}
.p-Home.Flex67 {
display: flex;
}
.p-Home.Flex68 {
display: flex;
}
.p-Home.Div75 {
;
}
.p-Home.Flex70 {
display: flex;
justify-content: center;
}
.p-Home.Flex71 {
display: flex;
margin-left: 50px;
border-color: #292929ff;
border-width: ;
border-radius: 0px;
outline-style: solid;
outline-width: 0px;
outline-color: #676767;
border-style: none;
border-left-width: 0.1px;
border-left-color: #86868680;
border-top-width: 0.1px;
border-top-color: #00000080;
border-bottom-width: 0.1px;
border-bottom-color: #00000080;
border-left-style: none;
border-top-style: none;
border-bottom-style: none;
margin-bottom: 50px;
justify-content: center;
margin-right: 50px;
}
.p-Home.Div77 {
align-self: center;
border-right-width: 0.1px;
border-right-style: solid;
border-right-color: #00000080;
}
.p-Home.Div78 {
align-self: center;
padding-left: ;
margin-left: 25px;
margin-right: 25px;
}
.p-Home.Div76 {
;
}
.p-Home.Div81 {
;
}
.p-Home.Div83 {
;
}
.p-Home.Flex74 {
display: flex;
margin-left: 50px;
margin-right: 50px;
justify-content: center;
}
.p-Home.Flex73 {
display: flex;
margin-left: 50px;
border-color: #292929ff;
border-width: ;
border-radius: 0px;
outline-style: solid;
outline-width: 0px;
outline-color: #676767;
border-style: none;
border-left-width: 0.1px;
border-left-color: #86868680;
border-top-width: 0.1px;
border-top-color: #00000080;
border-bottom-width: 0.1px;
border-bottom-color: #00000080;
border-left-style: none;
border-top-style: none;
border-bottom-style: none;
margin-bottom: 50px;
justify-content: center;
margin-right: 50px;
overflow: hidden;
}
.p-Home.Div84 {
align-self: center;
padding-left: ;
margin-left: 25px;
margin-right: 25px;
}
.p-Home.Div85 {
align-self: center;
border-right-width: 0.1px;
border-right-style: solid;
border-right-color: #00000080;
}
.p-Home.Div87 {
;
}
.p-Home.Div89 {
;
}
.p-Home.Div92 {
;
}
.p-Home.Div91 {
;
}
.p-Home.Div93 {
;
}
.p-Home.Div94 {
;
}
.p-Home.Flex75 {
display: flex;
margin-left: 50px;
margin-right: 50px;
justify-content: space-between;
}
.p-Home.Flex76 {
display: flex;
flex-direction: column;
}
.p-Home.Flex77 {
display: flex;
}
.p-Home.Div103 {
;
}
.p-Home.Div113 {
;
}
.p-Home.Flex143 {
display: flex;
justify-content: space-between;
margin-bottom: ;
margin-left: 50px;
margin-right: 50px;
padding-bottom: 50px;
}
.p-Home.Flex144 {
display: flex;
}
.p-Home.Flex145 {
display: flex;
}
.p-Home.Flex152 {
display: flex;
}
.p-Home.Flex146 {
display: flex;
}
.p-Home.Flex147 {
display: flex;
}
.p-Home.Flex148 {
display: flex;
}
.p-Home.Flex149 {
display: flex;
}
.p-Home.Flex150 {
display: flex;
}
.p-Home.Flex151 {
display: flex;
}
.p-Home.Div104 {
;
}
.p-Home.Flex80 {
display: flex;
flex-direction: column;
}
.p-Home.Div121 {
;
}
.p-Home.Flex153 {
display: flex;
justify-content: center;
}
.p-Home.Div123 {
;
}
.p-Home.Flex170 {
display: flex;
margin-left: 50px;
margin-right: 50px;
}
.p-Home.Flex167 {
display: flex;
}
.p-Home.Flex164 {
display: flex;
flex-direction: column;
}
.p-Home.Flex168 {
display: flex;
}
.p-Home.Flex165 {
display: flex;
flex-direction: column;
}
.p-Home.Flex162 {
display: flex;
}
.p-Home.Flex160 {
display: flex;
}
.p-Home.Flex163 {
display: flex;
}
.p-Home.Flex161 {
display: flex;
}
.p-Home.Flex157 {
display: flex;
margin-right: 35px;
}
.p-Home.Flex154 {
display: flex;
flex-direction: column;
margin-right: 10px;
}
.p-Home.Flex158 {
display: flex;
}
.p-Home.Flex155 {
display: flex;
flex-direction: column;
margin-right: 10px;
}
.p-Home.Flex159 {
display: flex;
}
.p-Home.Flex156 {
display: flex;
flex-direction: column;
margin-right: 10px;
}
.p-Home.Flex169 {
display: flex;
}
.p-Home.Flex166 {
display: flex;
flex-direction: column;
margin-right: 53px;
}
.p-Home.Div166 {
;
}
.p-Home.Flex244 {
display: flex;
margin-left: 50px;
margin-right: 50px;
justify-content: center;
}
.p-Home.Flex245 {
display: flex;
}
.p-Home.Flex268 {
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
margin-right: 30px;
}
.p-Home.Flex246 {
display: flex;
}
.p-Home.Flex269 {
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
margin-right: 30px;
}
.p-Home.Flex247 {
display: flex;
}
.p-Home.Flex270 {
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
margin-right: ;
}
.p-Home.Div167 {
;
}
.p-Home.Flex249 {
display: flex;
margin-left: 50px;
margin-right: 50px;
justify-content: center;
}
.p-Home.Flex250 {
display: flex;
}
.p-Home.Flex265 {
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
margin-right: 30px;
}
.p-Home.Flex251 {
display: flex;
}
.p-Home.Flex266 {
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
margin-right: 30px;
}
.p-Home.Flex252 {
display: flex;
}
.p-Home.Flex267 {
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
margin-right: ;
}
.p-Home.Div170 {
;
}
.p-Home.Flex262 {
display: flex;
justify-content: space-between;
margin-left: 50px;
margin-right: 50px;
}
.p-Home.Flex263 {
display: flex;
}
.p-Home.Flex264 {
display: flex;
}
.p-Home.TextBox14 {
margin-left: 50px;
font-size: 40px;
font-family: IBM Plex Sans;
font-weight: 500;
outline-width: ;
outline-style: ;
}
.p-Home.TextBox15 {
margin-left: 50px;
width: 500px;
font-family: IBM Plex Sans;
font-size: 18px;
margin-top: 20px;
color: #767676;
}
.p-Home.Div10 {
height: 1px;
background-color: #9d9d9d;
margin-top: 150px;
margin-bottom: 150px;
width: ;
margin-left: 50px;
margin-right: 50px;
background-clip: content-box;
-webkit-background-clip: content-box;
}
.p-Home.Div109 {
;
}
.p-Home.Image2 {
width: 100%;
margin-left: 50px;
margin-top: 50px;
}
.p-Home.TextBox7 {
width: ;
padding-right: ;
margin-right: 20px;
margin-top: 50px;
font-family: IBM Plex Sans;
font-weight: 500;
}
.p-Home.TextBox8 {
margin-right: 20px;
margin-top: 50px;
font-family: IBM Plex Sans;
font-weight: 500;
}
.p-Home.TextBox9 {
margin-right: 20px;
margin-top: 50px;
font-family: IBM Plex Sans;
font-weight: 500;
}
.p-Home.TextBox10 {
margin-right: 20px;
margin-top: 50px;
font-family: IBM Plex Sans;
font-weight: 500;
}
.p-Home.Image4 {
margin-right: 50px;
margin-top: 45px;
}
.p-Home.TextBox13 {
margin-left: 50px;
margin-top: 200px;
width: ;
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 40px;
}
.p-Home.TextBox18 {
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 40px;
margin-bottom: 50px;
}
.p-Home.TextBox19 {
font-family: IBM Plex Sans;
font-weight: 400;
color: #343434;
}
.p-Home.TextBox20 {
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 20px;
margin-top: 10px;
}
.p-Home.TextBox21 {
color: #767676;
font-family: IBM Plex Sans;
margin-top: 15px;
width: 400px;
margin-left: 0px;
margin-right: 0px;
}
.p-Home.TextBox22 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 20px;
text-align: left;
margin-top: 25px;
}
.p-Home.Image7 {
height: 550px;
}
.p-Home.TextBox52 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 20px;
text-align: left;
margin-top: 25px;
}
.p-Home.Div32 {
height: 1px;
background-color: #9d9d9d;
margin-top: 50px;
margin-bottom: 50px;
width: ;
margin-left: 50px;
margin-right: 50px;
background-clip: content-box;
-webkit-background-clip: content-box;
}
.p-Home.TextBox54 {
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 30px;
margin-top: 10px;
width: 350px;
}
.p-Home.TextBox56 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 30px;
text-align: left;
margin-top: 25px;
}
.p-Home.TextBox55 {
color: #767676;
font-family: IBM Plex Sans;
margin-top: 15px;
width: 400px;
margin-left: 0px;
margin-right: 0px;
font-size: 18px;
}
.p-Home.Image12 {
height: 550px;
}
.p-Home.Image13 {
height: 550px;
}
.p-Home.TextBox57 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 20px;
text-align: left;
margin-top: 25px;
}
.p-Home.TextBox58 {
color: #767676;
font-family: IBM Plex Sans;
margin-top: 15px;
width: 400px;
margin-left: 0px;
margin-right: 0px;
}
.p-Home.TextBox60 {
font-family: IBM Plex Sans;
font-weight: 400;
color: #343434;
}
.p-Home.TextBox65 {
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 20px;
margin-top: 10px;
}
.p-Home.TextBox68 {
color: #767676;
font-family: IBM Plex Sans;
margin-top: 15px;
width: 400px;
margin-left: 0px;
margin-right: 0px;
}
.p-Home.TextBox69 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 20px;
text-align: left;
margin-top: 25px;
}
.p-Home.TextBox74 {
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 20px;
margin-top: 10px;
}
.p-Home.TextBox75 {
font-family: IBM Plex Sans;
font-weight: 400;
color: #343434;
}
.p-Home.Image16 {
height: 550px;
}
.p-Home.Image18 {
height: 550px;
}
.p-Home.TextBox78 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 20px;
text-align: left;
margin-top: 25px;
}
.p-Home.TextBox79 {
color: #767676;
font-family: IBM Plex Sans;
margin-top: 15px;
width: 400px;
margin-left: 0px;
margin-right: 0px;
}
.p-Home.TextBox80 {
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 20px;
margin-top: 10px;
}
.p-Home.TextBox81 {
font-family: IBM Plex Sans;
font-weight: 400;
color: #343434;
}
.p-Home.Div58 {
height: 1px;
background-color: #9d9d9d;
margin-top: 50px;
margin-bottom: 50px;
width: ;
margin-left: 50px;
margin-right: 50px;
background-clip: content-box;
-webkit-background-clip: content-box;
}
.p-Home.Div73 {
height: 1px;
background-color: #9d9d9d;
margin-top: 50px;
margin-bottom: 50px;
width: ;
margin-left: 50px;
margin-right: 50px;
background-clip: content-box;
-webkit-background-clip: content-box;
}
.p-Home.TextBox111 {
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 30px;
margin-top: 10px;
width: ;
}
.p-Home.TextBox110 {
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 30px;
margin-top: 10px;
width: ;
}
.p-Home.Image28 {
height: 550px;
width: 600px;
}
.p-Home.TextBox113 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 30px;
text-align: left;
margin-top: 25px;
width: 400px;
}
.p-Home.TextBox118 {
font-family: IBM Plex Sans;
font-weight: 500;
color: #343434;
}
.p-Home.Div82 {
height: 1px;
background-color: #9d9d9d;
margin-top: 25px;
margin-bottom: 25px;
width: ;
margin-left: 50px;
margin-right: 50px;
background-clip: content-box;
-webkit-background-clip: content-box;
}
.p-Home.TextBox119 {
font-family: IBM Plex Sans;
font-weight: 500;
color: #343434;
}
.p-Home.TextBox120 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 30px;
text-align: left;
margin-top: 25px;
width: 400px;
}
.p-Home.Image30 {
height: 550px;
margin-right: 50px;
width: 500px;
overflow: hidden;
}
.p-Home.Div88 {
height: 1px;
background-color: #9d9d9d;
margin-top: 50px;
margin-bottom: 150px;
width: ;
margin-left: 50px;
margin-right: 50px;
background-clip: content-box;
-webkit-background-clip: content-box;
}
.p-Home.Div100 {
height: 1px;
background-color: #9d9d9d;
margin-top: 100px;
margin-bottom: 100px;
width: ;
margin-left: 0px;
margin-right: 0px;
background-clip: content-box;
-webkit-background-clip: content-box;
}
.p-Home.TextBox121 {
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 40px;
margin-top: 10px;
width: 750px;
}
.p-Home.TextBox122 {
color: #767676;
font-family: IBM Plex Sans;
margin-top: 15px;
width: 700px;
margin-left: 0px;
margin-right: 0px;
font-size: 20px;
font-weight: 400;
}
.p-Home.Image31 {
;
}
.p-Home.TextBox228 {
color: #767676;
font-family: IBM Plex Sans;
margin-top: 15px;
width: ;
margin-left: 0px;
margin-right: 0px;
font-weight: 500;
}
.p-Home.Image44 {
width: 35px;
height: 35px;
}
.p-Home.Image45 {
width: 35px;
height: 35px;
}
.p-Home.Image46 {
width: 35px;
height: 35px;
}
.p-Home.Image47 {
width: 35px;
height: 35px;
}
.p-Home.Image48 {
width: 35px;
height: 35px;
}
.p-Home.Image49 {
width: 35px;
height: 35px;
}
.p-Home.Div120 {
height: 1px;
background-color: #9d9d9d;
margin-top: 50px;
margin-bottom: 20px;
width: ;
margin-left: 50px;
margin-right: 50px;
background-clip: content-box;
-webkit-background-clip: content-box;
}
.p-Home.TextBox247 {
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 20px;
margin-top: 10px;
width: ;
}
.p-Home.TextBox248 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 20px;
margin-top: 10px;
width: ;
}
.p-Home.TextBox249 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 20px;
margin-top: 10px;
width: ;
}
.p-Home.TextBox250 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 20px;
margin-top: 10px;
width: ;
}
.p-Home.TextBox251 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 20px;
margin-top: 10px;
width: ;
}
.p-Home.TextBox252 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 20px;
margin-top: 10px;
width: ;
}
.p-Home.TextBox253 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 20px;
margin-top: 10px;
width: ;
}
.p-Home.TextBox254 {
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 20px;
margin-top: 10px;
width: ;
}
.p-Home.TextBox246 {
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 20px;
margin-top: 10px;
width: ;
}
.p-Home.TextBox229 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 20px;
margin-top: 10px;
width: ;
}
.p-Home.TextBox230 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 20px;
margin-top: 10px;
width: ;
}
.p-Home.TextBox231 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 20px;
margin-top: 10px;
width: ;
}
.p-Home.TextBox232 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 20px;
margin-top: 10px;
width: ;
}
.p-Home.TextBox233 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 20px;
margin-top: 10px;
width: ;
}
.p-Home.TextBox234 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 20px;
margin-top: 10px;
width: ;
}
.p-Home.TextBox235 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 20px;
margin-top: 10px;
width: ;
}
.p-Home.TextBox236 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 20px;
margin-top: 10px;
width: ;
}
.p-Home.TextBox237 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 20px;
margin-top: 10px;
width: ;
}
.p-Home.TextBox238 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 20px;
margin-top: 10px;
width: ;
}
.p-Home.TextBox239 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 20px;
margin-top: 10px;
width: ;
}
.p-Home.TextBox240 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 20px;
margin-top: 10px;
width: ;
}
.p-Home.TextBox241 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 20px;
margin-top: 10px;
width: ;
}
.p-Home.TextBox242 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 20px;
margin-top: 10px;
width: ;
}
.p-Home.TextBox243 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 20px;
margin-top: 10px;
width: ;
}
.p-Home.TextBox244 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 20px;
margin-top: 10px;
width: ;
}
.p-Home.TextBox245 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 20px;
margin-top: 10px;
width: ;
}
.p-Home.Image50 {
width: 200px;
}
.p-Home.TextBox255 {
color: #767676;
font-family: IBM Plex Sans;
margin-top: 15px;
width: 400px;
margin-left: 0px;
margin-right: 0px;
font-weight: 500;
}
.p-Home.TextBox256 {
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 20px;
margin-top: 10px;
width: ;
}
.p-Home.TextBox257 {
color: #767676;
font-family: IBM Plex Sans;
margin-top: 15px;
width: 400px;
margin-left: 0px;
margin-right: 0px;
font-weight: 500;
margin-bottom: 15px;
}
.p-Home.Div122 {
height: 1px;
background-color: #9d9d9d;
margin-top: 0px;
margin-bottom: 0px;
width: ;
margin-left: 0px;
margin-right: 20px;
background-clip: content-box;
-webkit-background-clip: content-box;
}
.p-Home.TextBox328 {
color: #767676;
font-family: IBM Plex Sans;
margin-top: 15px;
width: 300px;
margin-left: 0px;
margin-right: 0px;
font-size: 18px;
}
.p-Home.TextBox329 {
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 30px;
margin-top: 10px;
width: ;
}
.p-Home.Div174 {
height: 1px;
background-color: #080808;
width: 300px;
margin-top: 35px;
margin-bottom: 35px;
}
.p-Home.Image78 {
height: 150px;
}
.p-Home.Image79 {
height: 150px;
}
.p-Home.Div175 {
height: 1px;
background-color: #080808;
width: 300px;
margin-top: 35px;
margin-bottom: 35px;
}
.p-Home.TextBox330 {
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 30px;
margin-top: 10px;
width: ;
}
.p-Home.TextBox331 {
color: #767676;
font-family: IBM Plex Sans;
margin-top: 15px;
width: 300px;
margin-left: 0px;
margin-right: 0px;
font-size: 18px;
}
.p-Home.Image80 {
height: 150px;
}
.p-Home.Div176 {
height: 1px;
background-color: #080808;
width: 300px;
margin-top: 35px;
margin-bottom: 35px;
}
.p-Home.TextBox332 {
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 30px;
margin-top: 10px;
width: ;
}
.p-Home.TextBox333 {
color: #767676;
font-family: IBM Plex Sans;
margin-top: 15px;
width: 300px;
margin-left: 0px;
margin-right: 0px;
font-size: 18px;
}
.p-Home.Image75 {
height: 150px;
}
.p-Home.Div171 {
height: 1px;
background-color: #080808;
width: 300px;
margin-top: 35px;
margin-bottom: 35px;
}
.p-Home.TextBox322 {
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 30px;
margin-top: 10px;
width: ;
}
.p-Home.TextBox323 {
color: #767676;
font-family: IBM Plex Sans;
margin-top: 15px;
width: 300px;
margin-left: 0px;
margin-right: 0px;
font-size: 18px;
}
.p-Home.TextBox324 {
color: #767676;
font-family: IBM Plex Sans;
margin-top: 15px;
width: 300px;
margin-left: 0px;
margin-right: 0px;
font-size: 18px;
}
.p-Home.TextBox325 {
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 30px;
margin-top: 10px;
width: ;
}
.p-Home.Div172 {
height: 1px;
background-color: #080808;
width: 300px;
margin-top: 35px;
margin-bottom: 35px;
}
.p-Home.Image76 {
height: 150px;
}
.p-Home.TextBox326 {
color: #767676;
font-family: IBM Plex Sans;
margin-top: 15px;
width: 300px;
margin-left: 0px;
margin-right: 0px;
font-size: 18px;
}
.p-Home.TextBox327 {
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 30px;
margin-top: 10px;
width: ;
}
.p-Home.Div173 {
height: 1px;
background-color: #080808;
width: 300px;
margin-top: 35px;
margin-bottom: 35px;
}
.p-Home.Image77 {
height: 150px;
}
.p-Home.TextBox320 {
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 30px;
margin-top: 10px;
width: ;
}
.p-Home.TextBox321 {
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 30px;
margin-top: 10px;
width: ;
}
